<!doctype html>
<html lang="en">
<head>
    <title>Admin home</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/admin/css/admin.css">
    <style>
        main { max-width: 48rem; }
    </style>
</head>
<body>

{{>navpartial}}

<main>

    <h1>Admin home</h1>

    <p>The admin section is password-protected, for managing content.</p>

    <p>This site is very minimal, with just teams, members, and membership; very basic, but containing many of the building blocks for realistic projects.</p>

    <p>It has a minimal example of authentication, in that the <code>admin@user.com</code> account can update content, the <code>guest@user.com</code> can only view content.</p>

</main>

</body>
</html>
