<!doctype html>
<html lang="en">
<head>
    <title>Add team</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/admin/css/admin.css">
</head>
<body>

{{>navpartial}}

<main>

    <h1>Add team</h1>

    {{>errpartial}}

    <form method="post">
        <fieldset><legend>Team</legend>
            <ul>
                <li>
                    <label for="name">Name</label>
                    <input name="name" id="name" value="{{$flash.form.name}}" class="w16" required autofocus>
                </li>
                <li>
                    <label></label>
                    <button type="submit" class="green" title="Add">✔</button>
                </li>
            </ul>
        </fieldset>
    </form>

</main>

</body>
</html>
