<!doctype html>
<html lang="en">
<head>
    <title>Reset password request</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/auth.css">
    <style>
        p { font-size: 0.8rem; color: #666666; }
    </style>
</head>
<body>

{{>navpartial}}

<main>
    <div>
        <h1>Reset password request</h1>

        <p>If your username has been recognised, we have sent you a password reset e-mail.</p>
        <p>This reset link will be valid for 24 hours, and can only be used once.</p>
        <p>If you do not see the e-mail in the next few minutes, please check your spam folder.</p>
    </div>
</main>

</body>
</html>
