<!doctype html>
<html lang="en">
<head>
    <title>Reset Password</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/auth.css">
    <style>
        li { font-size: 0.9rem; }
    </style>
    <script type="module" src="/js/show-pw.js"></script>
</head>
<body>

{{>navpartial}}

<main>
    <div>
        <h1>Reset Password</h1>

        {{#if badToken}}
        <p>This password reset link is either invalid, expired, or previously used.</p>
        {{else}}
        <form method="post">
            <ul>
                <li>
                    <label for="password">New password</label>
                    <input name="password" id="password" type="password" autocomplete="new-password" autofocus required class="w12">
                    <span id="show-pw" title="show password" class="fa fa-eye"></span>
                </li>
                <li>
                    <label></label>
                    <button type="submit" class="w12">Reset password</button>
                </li>
            </ul>
        </form>
        {{/if}}
    </div>
</main>

</body>
</html>
