<!doctype html>
<html lang="en">
<head>
    <title>Reset Password Request</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/auth/css/auth.css">
    <style>
        li { font-size: 0.8rem; color: #666666; }
    </style>
</head>
<body>

{{>navpartial}}

<main>
    <div>
        <h1>Reset Password Request</h1>

        <form method="post">
            <ul>
                <li>
                    {{#if $flash.registration}}
                    Welcome to Deno Oak Boilerplate! Please set up an initial password for yourself.
                    {{else}}
                    If you have forgotten your password, or wish to reset it, we can send you an email with a password reset link. (If you remember your password in the meantime, you can ignore this reset e-mail).
                    {{/if}}
                </li>
                <li>
                    <label for="username">Your e-mail</label>
                    <input name="username" id="username" value="{{$flash.form.username}}" title="Please enter a valid username" required autofocus class="w12">
                </li>
                <li>
                    <label></label>
                    <button type="submit">Send password reset e-mail</button>
                </li>
            </ul>
        </form>
    </div>
</main>

</body>
</html>
