<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{{title}}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/public.css">
    <style>
        body { max-width: 48em; }
        h2 { border-top: 2px solid #cccccc; margin-top: 2em; }
        code { font-size: 0.8em; }
        pre { line-height: 1.2em; background-color: #eeeeee; padding: 0.4em; }
    </style>
</head>
<body>

<main>
    <h1>{{{h1}}}</h1>

    <div markdown="1">
        {{{content}}}
    </div>

</main>

</body>
</html>
