<!doctype html>
<html lang="en">
<head>
    <title>Register</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/base.css">
    <style>
        span.username-inuse { color: #990000; font-weight: bold; }
    </style>
    <script type="module" src="/js/form.js"></script>
    <script type="module" src="/js/register.js"></script>
</head>
<body>

<main>

    <h1>Register</h1>

    <form id="register" method="post">
        <fieldset>
            <legend>Details</legend>
            <ul>
                <li>
                    <label for="firstname">First name</label>
                    <input type="text" id="firstname" name="firstname" value="{{$flash.form.firstname}}" autofocus required class="w12">
                </li>
                <li>
                    <label for="lastname">Last name</label>
                    <input type="text" id="lastname" name="lastname" value="{{$flash.form.lastname}}" required class="w12">
                </li>
                <li>
                    <label for="username">E-mail</label>
                    <input type="email" id="username" name="username" value="{{$flash.form.username}}" required class="w16"> <span class="username-inuse"></span>
                </li>
            </ul>
        </fieldset>
        <button type="submit">Register</button>
    </form>

</main>

</body>
</html>
